{% extends 'base.html' %}
{% block contend %}
    <div class="h5">{{ application.body|linebreaks }}</div>
    <p>{{ application.date }}</p>
    <div>
        <img src="{% if application.image1 %}{{ application.image1.url }}{% endif %}" class="img-thumbnail"
             style="width: 400px">
        <img src="{% if application.image2 %}{{ application.image2.url }}{% endif %}" class="img-thumbnail"
             style="width: 400px">
        <img src="{% if application.image3 %}{{ application.image3.url }}{% endif %}" class="img-thumbnail"
             style="width: 400px">
    </div>
    <button type="button" class="btn btn-info">{{ application.status.name }}</button>

    <br>
    <hr>
    <form method="post">{% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit">
    </form>
    <hr>
    <h3>Комментарии:</h3>
    {% for comment in application.comments.all %}
        <div class="card" style="margin-bottom: 20px; {% if comment.user.mc_manager %}background-color: lightblue;{% endif %}">
            <div class="card-body">
                <p class="card-text">{{ comment.context|linebreaks }}</p>
                <a class="card-link">{{ comment.user.fullname }}</a>
                <a class="card-link">{{ comment.date }}</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}