{% extends 'base.html' %}
{% block contend %}
    {% include 'link_bar.html' %}
    {{ application.body }}<br>
    {{ application.date }}<br>
    <img src="{% if application.image1 %}{{ application.image1.url }}{% endif %}" width="400"><br>
    {{ application.status.name }}<br>
    <br>
    <hr>
    <form method="post">{% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit">
    </form>
    <hr>
    <h3>Комментарии:</h3>
    {% for comment in application.comments.all %}
        <div {% if comment.user.mc_manager %}style="background-color: lightblue;"{% endif %}>{{ comment.context|linebreaks }}</div><br>
        {{ comment.user.fullname }} / {{ comment.date }}<br><hr>
    {% endfor %}

{% endblock %}