{% if not user.mc_manager %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item {% if page == 'info_page' %}active{% endif %}">

        <a class="nav-link" href="{% url 'info_page' %}">Управляющая компания
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item {% if page == 'applications' %}active{% endif %}">
        <a class="nav-link" href="{% url 'applications_list' %}">Заявки</a>
    </li>
    <li class="nav-item  {% if page == 'votes' %}active{% endif %}">
        <a class="nav-link" href="{% url 'active_votes' %}">Голосования</a>
    </li>
    <li class="nav-item {% if page == 'active_works' %}active{% endif %}">
        <a class="nav-link" href="{% url 'active_works' %}">Текущие работы</a>
    </li>
{#    <li class="nav-item dropdown">#}
{#        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"#}
{#           aria-haspopup="true" aria-expanded="false">Dropdown#}
{#        </a>#}
{#        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">#}
{#            <a class="dropdown-item" href="#">Action</a>#}
{#            <a class="dropdown-item" href="#">Another action</a>#}
{#            <a class="dropdown-item" href="#">Something else here</a>#}
{#        </div>#}
{#    </li>#}
</ul>
{% else %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item {% if page == 'info_page' %}active{% endif %}">

        <a class="nav-link" href="{% url 'uk_info_page' %}">Управляющая компания
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page == 'applications' %}active{% endif %}" href="{% url 'applications' %}">Заявки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page == 'votes' %}active{% endif %}" href="{% url 'votes' %}">Голосования</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">Еще
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="{% url 'uk_active_works' %}">Текущие работы</a>
            <a class="dropdown-item" href="{% url 'user_list' %}">Пользователи</a>
            <a class="dropdown-item" href="{% url 'territories' %}">Список ЖЭК</a>
        </div>
    </li>
</ul>
{% endif %}