{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block contend %}
{{ vote.title }}<br>
{{ vote.context }}<br>
{{ vote.date }}<br>
{{ vote.duration }}<br>
{{ vote.user.fullname }}<br>
<form method="post">{% csrf_token %}
    <button name="vote" value="agree" {% if user_vote == 'agree' %}disabled{% endif %}>Согласен</button>
    <button name="vote" value="disagree" {% if user_vote == 'disagree' %}disabled{% endif %}>Несогласен</button>
</form>
<form method="post">{% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit">
</form>
{% for comment in vote.comments.all %}
    {{ comment.context }}/{{ comment.date }}<br>
{% endfor %}
{% endblock %}