<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{ vote.title }}<br>
{{ vote.context }}<br>
{{ vote.date }}<br>
{{ vote.duration }}<br>
{{ vote.user.fullname }}<br>
<form method="post">{% csrf_token %}
    <button name="vote" value="agree" {% if user_vote == 'agree' %}disabled{% endif %}>Согласен</button>
    <button name="vote" value="disagree" {% if user_vote == 'disagree' %}disabled{% endif %}>Несогласен</button>
</form>
<form method="post">{% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit">
</form>
{% for comment in vote.comments.all %}
    {{ comment.context }}/{{ comment.date }}<br>
{% endfor %}
</body>
</html>